:root {
    --picotron-dark-blue: #1d2b53;
    --picotron-dark-orange: #ff6c24;
    --picotron-green: #00e436;
    --picotron-red: #ff004d;
    --picotron-yellow: #ffec27;
    --picotron-white: #fff1e8;
}

body {
    font-family: system-ui, sans-serif;
    margin: 2em;
    background-color: var(--picotron-white);
    color: var(--picotron-dark-blue);
    text-align: justify;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--picotron-dark-orange);
}

div.tests {
    max-width: 48em;
    margin-bottom: -4em;
}

div.tests a {
    color: var(--picotron-dark-blue);
}

div.tests li span:first-child {
    font-weight: bold;
}

div.tests span.ok, div.tests span.ko, div.tests span.skip {
    font-weight: bold;
    font-size: smaller;
    font-variant: small-caps;
    padding: 0 0.3em;
    border-radius: 0.5em;
}

div.tests span.ok {
    background-color: var(--picotron-green);
}

div.tests span.ko {
    background-color: var(--picotron-red);
    color: var(--picotron-white);
}

div.tests span.skip {
    background-color: var(--picotron-yellow);
}

div.tests p.report {
    padding-bottom: 4em;
}
