a {
    text-decoration: none;
    font-weight: bold;
    color: #0a62be;
}

body {
    font-family: Univers, ui-sans-serif, sans-serif;
    margin: 2em;
}

.tests li {
    line-height: 1.5em;
}

li.skip {
    font-style: italic;
}

iframe {
    display: none;
}

.notests {
    text-decoration: line-through;
}

svg.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -.125em;
}
