:root {
    --picotron-dark-blue: #1d2b53;
    --picotron-dark-orange: #ff6c24;
    --picotron-green: #00e436;
    --picotron-light-yellow: #fff57d;
    --picotron-red: #ff004d;
    --picotron-white: #fff1e8;
    --picotron-yellow: #ffec27;

    --ep-transport-button-foreground: #1d2b53;
    --ep-transport-button-background: #fff1e8;
}

body {
    font-family: system-ui, sans-serif;
    margin: 2em;
    background-color: var(--picotron-white);
    color: var(--picotron-dark-blue);
    text-align: justify;
    max-width: 48em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--picotron-dark-orange);
}

button, input {
    font-family: inherit;
    font-size: 100%;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

.example {
    border: dashed thin var(--picotron-dark-blue);
    padding: 2em;
}

span.todo {
    background-color: var(--picotron-yellow);
}
